@font-face {
   font-family: spongebob-display;
   src: url("../fonts/spongebob-display.woff") format("woff"),
      url("../fonts/spongebob-display.woff2") format("woff2");
}

@font-face {
   font-family: pangramsans;
   src: url("../fonts/pppangramsansrounded-regular.woff") format("woff"),
      url("../fonts/pppangramsansrounded-regular.woff2") format("woff2");
   font-weight: normal;
}

@font-face {
   font-family: pangramsans;
   src: url("../fonts/pppangramsansrounded-bold.woff") format("woff"),
      url("../fonts/pppangramsansrounded-bold.woff2") format("woff2");
   font-weight: bold;
}

/* Bron fonts: https://pangrampangram.com/products/pangram-sans-rounded
               https://www.fontspace.com/spongeboy-font-f45426 
*/

/**************/
/* CSS REMEDY */
/**************/

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   margin: 0;
}

button:not([disabled]) {
   cursor: pointer;
}

img {
   max-width: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
   --color-headings: hsl(0, 0%, 0%);
   --color-primary: hsl(44, 89%, 33%);
   --color-primary-active: hsl(44, 100%, 24%);
   --type-headings: spongebob-display;
   --type-body: pangramsans;
}

/********************/
/* GLOBAL */
/********************/

body {
   background-image: url("../images/blank-canvas.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   overflow: hidden;
}

section {
   width: 30vw;
   position: absolute;
}

main article {
   z-index: 1;
   margin: 6vw 0vw 0vw 6vw;
   width: 19vw;
   position: absolute;
}

body main > img:first-of-type {
   position: absolute;
   width: 30vw;
}

body main > section:last-of-type img {
   place-items: center;
   text-align: center;
   width: 20vw;
}

div {
   right: 0;
   bottom: 0;
   position: absolute;
   width: 25vw;
   display: flex;
   flex-direction: column-reverse;
   aspect-ratio: 480/369.461;
   transform-style: preserve-3d;
   perspective: 100em;
}

div:first-of-type {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20vw;
}

div button {
   position: absolute;
   appearance: none;
   background: transparent;
   border: none;
   outline: none;
   display: block;
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}

div button img {
   display: block;
   height: 100%;
   width: 100%;
}

/* eerste button */
div button:first-child {
   transform: rotateX(0.1deg) rotateY(0.1deg);
   transform-origin: 23% 60%;
   cursor: help;
   /*Het apart selecteren van de images is met hulp van Sanne gedaan*/
}

div button:first-child:focus-visible img {
   content: url("../images/hand/machine-focus.svg");
}

/* tweede button */
div button:last-child {
   cursor: pointer;
   /*Info over cursor wijzigen op MDN gevonden: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
}

div button:last-child:focus-visible img {
   content: url("../images/hand/hand-focus.svg");
}
/* Bron informatie over focus: https://stackoverflow.com/questions/36771069/some-buttons-have-focus-style-applied-on-click */

div button:last-child img {
   transition: 1s cubic-bezier(0.7, -0.6, 0.8, 1.2);
   /*cubic bezier online ontworpen: cubic-bezier.com */
   transform-origin: 24% 60%;
   /*Transform originin geleerd van MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin*/
}

div button:last-child img:hover {
   rotate: 30deg;
}

article {
   display: hidden;
}

/********************/
/* EASTER EGG */
/********************/

body main > img:last-of-type {
   width: 10%;
   order: 1;
   float: right;
   margin-right: 20vw;
   margin-top: -50vh;
   transition: 1s cubic-bezier(0.47, 1.64, 0.41, 0.9);
   visibility: hidden;
   -webkit-filter: drop-shadow(2rem 2rem 4rem rgba(30, 5, 5, 0.6));
   filter: drop-shadow(2rem 2rem 4rem rgba(30, 5, 5, 0.6));
   /* Ik wilde niet op de box een shadow plaatsen. Hulp bij het gebruik van shadow op een SVG: https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3 */
}

body main > img:last-of-type:hover {
   cursor: pointer;
}

.hook-animation {
   margin-top: -4vh !important;
   visibility: visible !important;
}

/********************/
/* TYPOGRAFIE */
/********************/

h1 {
   visibility: hidden;
   position: absolute;
}

h2 {
   color: var(--color-headings);
   font-family: var(--type-headings);
   font-size: clamp(1rem, 2vw, 10rem);
   margin-top: 0rem;
   font-weight: normal;
}

h2:first-child {
   font-family: var(--type-body);
   font-size: clamp(1rem, 1.2vw, 2rem);
   margin-bottom: 0.5rem;
}

h3 {
   margin: 0;
}

h3,
h4 {
   color: var(--color-headings);
   font-family: var(--type-body);
   font-weight: normal;
   text-transform: uppercase;
   font-size: clamp(1rem, 1.2vw, 2rem);
}

h4 {
   color: var(--color-headings);
   font-weight: bold;
   text-transform: none;
   margin-bottom: 0rem;
}

p {
   font-family: var(--type-body);
   font-size: clamp(0.9rem, 1vw, 1.3rem);
   margin-top: 0.2rem;
}

a {
   color: var(--color-primary);
   font-weight: bold;
   transition: 0.4s;
}

a:hover,
a:focus {
   color: var(--color-primary-active);
}
